---
import { getCollection } from 'astro:content';
import { slugify } from "../../ts/utils";

interface Props {
  collection: string;
  linkPrefix: string;
  title: string;
  currentCategory?: string;
}

const { collection, linkPrefix, title, currentCategory } = Astro.props;

const items = await getCollection(collection, ({ data }) => {
  return !data.draft;
});

const categories = [...new Set(items.map(item => item.data.category))];

const categoryCounts = categories.reduce((acc, category) => {
  const count = items.filter(item => item.data.category === category).length;
  return { ...acc, [category]: count };
}, {} as Record<string, number>);
---
<div class="px-2">
  <h2 class="text-xl font-bold mb-4 pl-2">{title}</h2>
  <ul class="space-y-1">
    {categories.map(cat => (
      <li class="hover:bg-gray-100 dark:hover:bg-background-secondary transition-colors duration-300 px-2 py-1 rounded-md">
        <a
          href={`${linkPrefix}${slugify(cat)}`}
          class={`block hover:text-primary-500 transition-colors flex justify-between items-center ${cat === currentCategory ? 'text-primary-500 font-bold' : ''}`}
        >
          <span>{cat}</span>
          <span class="bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-300 px-2 py-0.5 rounded-full text-xs">
            {categoryCounts[cat]}
          </span>
        </a>
      </li>
    ))}
  </ul>
</div>
