---
import Seo from "../components/layout/Seo.astro";
import type { Locale } from "../i18n/ui";

interface Props {
  title: string;
  description: string;
  image?: unknown;
  robots?: unknown;
  project?: unknown;
  lang?: Locale;
  siteName: string;
  alternateLinks?: { locale: string; href: string }[];
}

const {
  title,
  description,
  image,
  robots,
  project,
  lang,
  siteName,
  alternateLinks = [],
} = Astro.props as Props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href={import.meta.env.BASE_URL + "favicon.svg"} />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  {alternateLinks.map(({ locale, href }) => (
    <link rel="alternate" hreflang={locale} href={href} />
  ))}
  <Seo {title} {description} url={Astro.url} {image} {robots} {project} {lang} siteName={siteName} />
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>