---
// component import
import MainHead from "./MainHead.astro"
import NavBar from "../components/NavBar.tsx"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from 'astro:transitions';

// styles import
import "../styles/theme.css"
import "../styles/components.css"

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
	image,
	robots,
	project,
} = Astro.props;
---
<!doctype html>
<html lang="en" class="w-full h-full select-none">
	<MainHead {title} {description} {image} {robots} {project}/>
	<head>
		<ViewTransitions />
	</head>
	<body class="flex flex-col min-h-screen w-full m-0 bg-background text-text transition-colors duration-300">
		<NavBar client:load transition:persist/>
		<main class="flex-grow" transition:animate="slide">
			<slot />
		</main>
		<Footer class="mt-auto" transition:persist />
	</body>
</html>

<script>
	function disableRightClick(e: MouseEvent) {
		e.preventDefault();
		return false;
	}

	function disableSelection(e: Event) {
		e.preventDefault();
		return false;
	}

	document.addEventListener('contextmenu', disableRightClick);
	document.addEventListener('selectstart', disableSelection);
	document.addEventListener('copy', disableSelection);
	document.addEventListener('dragstart', disableSelection);
</script>

